<h1>Online Consultation Rescheduled </h1>
<p>Here are the details of the rescheduled online consultation: </p>
<p>Name: <%= @online_consultation.user.first_name %></p>
<p>Date: <%= @online_consultation.date %></p>
<p>Start time: <%= @online_consultation.start_time %>
<p>End time: <%= @online_consultation.end_time %>
<p>Status: Confirmed</p>
<p>A new online consultation booking has been confirmed. </p>
