<h1>New Batch Registration</h1>

<p>Name: <%= @vishraam_registration.user.first_name %></p>
<p>Email: <%= @vishraam_registration.user.email %></p>
<p>Date: <%= @vishraam_registration.date %>
<p>Duration: <%= @vishraam_registration.duration %>
<p>Message: A new Vishraam registration has been made. Please go to www.arogyam.life/registrations to see the latest batch registrations.</p>
