<h1 style="text-align: center; font-size: 24px; font-weight: bold; margin-bottom: 20px;">New Batch Registration</h1>

  <p style="font-size: 16px; margin-bottom: 10px;">Name: <%= @vishraam_registration.user.first_name %></p>
  <p style="font-size: 16px; margin-bottom: 10px;">Email: <%= @vishraam_registration.user.email %></p>
  <p style="font-size: 16px; margin-bottom: 10px;">Date: <%= @vishraam_registration.date %></p>
  <p style="font-size: 16px; margin-bottom: 10px;">Duration: <%= @vishraam_registration.duration %></p>
  <p style="font-size: 16px; margin-bottom: 10px;">Message: A new Vishraam registration has been made. Please go to <a href="http://www.arogyam.life/registrations" style="color: #1a0dab; text-decoration: none;">www.arogyam.life/registrations</a> to see the latest batch registrations.</p>
</body>