<h1 style="text-align: center; font-size: 24px; font-weight: bold; margin-bottom: 20px;">Vishraam Registration Cancellation</h1>

  <p style="font-size: 16px; margin-bottom: 10px;"><%= "The following user #{@vishraam_registration_data[:email]} has cancelled their registration for the following date #{@vishraam_registration_data[:date]}." %>
  Please visit <a href='http://www.arogyam.life/registrations'>www.arogyam.life/registrations</a> for the most up-to-date registration list. </p>