<h1>Vishraam Registration Cancellation</h1>

<p> <%= "The following user #{@vishraam_registration_data[:email]} has cancelled their registration for the following date #{@vishraam_registration_data[:date]}. Please visit www.arogyam.life/registrations for the most up-to-date registration list" %></p>

