
    
      <div class="container pt-5 pb-lg-5 pb-md-4 pb-2 my-5">
       
        <!-- Page title + filters-->
        <div class="row align-items-center gy-2 mb-4 pb-1 pb-sm-2 pb-lg-3">
            <h1 class="packages text-center">Blog</h1>
          
    
        </div>
        <!-- Post-->
        <article class="row g-0 border-0 mb-4"><a class="col-sm-5 col-lg-4 bg-repeat-0 bg-size-cover bg-position-center rounded-5" href="blog-single-v1.html" style="background-image: url(assets/img/blog/list/01.jpg); min-height: 16rem"></a>
          <div class="col-sm-7 col-lg-8">
            <div class="pt-4 pb-sm-4 ps-sm-4 pe-lg-4">
              <% @blogs.each do |blog| %>
                <h3><%= link_to blog.title.capitalize, blog_path(blog) %></h3>
                <div class="mb-5 text-muted fs-sm"><%= blog.created_at.strftime("%d %b %y") %></div>
              <% end %>
            </div>
          </div>
        </article>
        
        <!-- Pagination-->
        <div class="row gy-3 align-items-center mt-lg-5 pt-2 pt-md-3 pt-lg-0 mb-md-2 mb-xl-4">
          <div class="col col-md-4 col-6 order-md-1 order-1">
            <div class="d-flex align-items-center"><span class="text-muted fs-sm">Show</span>
              <select class="form-select form-select-flush w-auto">
                <option value="6">6</option>
                <option value="9" selected>9</option>
                <option value="12">12</option>
                <option value="24">24</option>
              </select>
            </div>
          </div>
          
          <div class="col col-md-4 col-6 order-md-3 order-2">
            <nav aria-label="Page navigation">
              <ul class="pagination pagination-sm justify-content-end">
                <li class="page-item active" aria-current="page"><span class="page-link">1<span class="visually-hidden">(current)</span></span></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    
    
  
    