<html>
  <body>
    <h1 style="color: #333; font-size: 24px;">Thank you for signing up, <%= @user.first_name %>!</h1>
    <p style="color: #555; font-size: 16px;">You can register for a batch, update your profile, see photographs of ArogyaM and many more things on <a href="https://www.arogyam.life">arogyam.life</a>. Please feel free to contact us at wellnesscenter@satsang-foundation.org if you have any doubts or questions.</p>
  </body>
</html>
