<html>
  <body>
    <h1 style="color: #333; font-size: 24px;">Thank you for signing up, <%= @user.first_name %>!</h1>
    <p style="color: #555; font-size: 16px;">We hope you find our services useful. Please feel free to contact us at wellnesscenter@satsang-foundation.org</p>
  </body>
</html>
