<h1>New Batch Registration</h1>

<p>Name: <%= @registration.user.first_name %></p>
<p>Email: <%= @registration.user.email %></p>
<p>Batch: <%= @registration.batch.start_date %>
<p>Message: A new batch registration has been made. Please go to <a href='http://www.arogyam.life/registrations'>www.arogyam.life/registrations</a> to see the latest batch registrations.</p>
