<h1>New Batch Registration Cancellation</h1>

<p style="font-size: 16px; margin-bottom: 10px;"> <%= "The following user #{@registration_data[:email]} has cancelled their registration for the following batch #{@registration_data[:date]}." %> 
Please visit <a href='http://www.arogyam.life/registrations'>www.arogyam.life/registrations</a> for the most up-to-date registration list. </p>

  