<h1>New Batch Registration Cancellation</h1>

<p> <%= "The following user #{@registration_data[:email]} has cancelled their registration for the following batch #{@registration_data[:date]}. Please visit www.arogyam.life/registrations for the most up-to-date registration list" %></p>

