<div class="container pt-5 pb-sm-3 mt-5 mb-2 mb-md-3 mb-lg-4 mb-xxl-5">
  <% @bookings.each do |booking|%>
    <ul>
      <li>Name:<%= booking.name %></li>
      <li>Email:<%= booking.email %></li>
      <li>Message:<%= booking.message %></li>
      <li>Programme:<%= booking.package.name %></li>
    </ul>
  <% end %>
</div>