<section class="container pt-5 pb-lg-2 pb-xl-4 py-xxl-5 my-5">
  <h1 class="cardHeading packages text-center">Online Consultations</h1>
    <div class="pb-sm-3 pt-4">
      <p class="fs-lg fw-medium pb-3 mb-3"><strong>Please call +91 8340932384 or email 
        <a class="emailLink nav-link fs-lg p-0" href="mailto:wellnesscenter@satsang-foundation.org">wellnesscenter@satsang-foundation.org</a>with your preferred date and time. We will get in touch with you.
        <br>
        <br> Online consultations cost Rs. 750 for residents of India and Rs. 1500 for non-residents for 30 minutes.</p>
    </div>
  
</section>
