<div class="fs-lg"> We are witnessing a shift in the concept of 
  health away from the primary approach of  diseases and their 
  management and the embracing of wellbeing.
    <% @packages.each do |package| %>
      <%= link_to "#{package.name}", package_path(package), class: "nav-link" %>
    <% end %>
    Every wellness program integrates Yoga and Ayurveda through 
    traditional treatments and practice of Asanas and Pranayama.
    The study of Ashtanga Yoga and unveiling Ayurveda with the 
    help of traditional texts add a unique flavour and a greater 
    understanding of body and mind health and their integration.
    The Sacred Grove which houses ArogyaM provides the natural 
    setting most condusive for the healing of body and mind and 
    exploring the spiritual dimension which is one's true nature. 
    The vast stretches of space and silence and the well-stocked 
    library allows study and contemplation on the body-mind-soul 
    complex that is a human being (<em>sattwa-atma-shariram ca trayametat tridandavat</em>).
</div>