<div class="fs-lg"> Arogyam (noun): <strong>Health</strong>. Derived from "<i>aroga</i>" which means absence of disease. "<i>roga</i>": derived from the Sanskrit root "<i>ruk</i>" or pain. 
  <br>
  <br>
  We are witnessing a shift in the concept of health, 
  moving away from the traditional focus on disease management
  and embracing overall wellbeing. At ArogyaM, our packages - 
  LanghanM, ShaantaM, SwaasthyaM, Shakti, ShamanaM, ShodanaM, Srushti, Varuyam, and Vishram - 
  integrate yoga and Ayurveda through traditional
  treatments and the practice of Asanas and Pranayama.
  The study of Ashtanga Yoga and Ayurveda using traditional
  texts adds a unique flavor and deeper understanding of the connection between body and mind health.
<br>
The Sacred Grove, home to ArogyaM, provides the ideal natural setting for
 healing the body and mind and exploring one's true spiritual nature. 
 The spacious and peaceful environment and well-stocked library encourage study and contemplation on the 
 complex relationship between body, mind, and soul: <em>sattwa-atma-shariram ca trayametat tridandavat</em>.
</div>