<div class="fs-lg"> 
  
  At ArogyaM we see health as overall wellbeing. Our packages
  integrate yoga and Ayurveda through traditional
  treatments and the practice of Asanas and Pranayama.
  The study of Ashtanga Yoga and Ayurveda using traditional
  texts adds a unique flavor and deeper understanding of the connection between body and mind health.
<br>
The Sacred Grove, home to ArogyaM, provides an ideal natural setting for
 healing the body and mind and exploring one's true spiritual nature. 
 The spacious and peaceful environment and well-stocked library encourage study and contemplation on the 
 complex relationship between body, mind, and soul: <em>sattwa-atma-shariram ca trayametat tridandavat</em>.
 <br>
 We offer online consultations, nine treatment programmes at the center, as well as customized treatment programmes tailored 
 to the needs of individual patients. 
 <h3 id="HowItWorks">How it works</h3>
All programmes (including customized programmes) are offered if you register for a batch. Only <strong><%= link_to "VishraM", programme_path(go_to_package("VishraM")) %></strong> is 
offered as a standalone programme and can be booked regardless of batch schedules. Click on 'Explore programmes' for more details or 'Batches' to register for a batch.
</div>