<div class="fs-lg"> 
  
  At ĀrogyaM we see health as overall wellbeing. Our packages
  integrate yoga and Ayurveda through traditional
  treatments and the practice of Asanas and Pranayama.
  The study of Ashtanga Yoga and Ayurveda using traditional
  texts adds a unique flavor and deeper understanding of the connection between body and mind health.
<br>
The Sacred Grove, home to ĀrogyaM, provides an ideal natural setting for
 healing the body and mind and exploring one's true spiritual nature. 
 The spacious and peaceful environment and well-stocked library encourage study and contemplation on the 
 complex relationship between body, mind, and soul: <em>sattwa-atma-shariram ca trayametat tridandavat</em>.
 <br>
 We offer online consultations, nine treatment programmes at the center, as well as customized treatment programmes tailored 
 to the needs of individual patients. 
</div>