            
            
            <section class="container pt-5 pb-lg-2 pb-xl-4 py-xxl-5 my-5">

            <h1 class="cardHeading packages text-center">Contact</h1>

          <div class="contactInfo row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 pt-2">
            <!-- Address-->
            <h3 class="howToget">General contact info</h3>
            <div class="col pb-2">
              <h4 class="mb-lg-4">Address</h4>
              <p class="fs-lg fw-medium pb-3 mb-3">ArogyaM, The Sacred Grove, Chowdepalli, A.P. <br> 517257</p>
            </div>
            <!-- Phone-->
            <div class="col pb-2">
              <h4 class="mb-lg-4">Phone</h4>
              <ul class="list-unstyled mb-0">
                <li class="pb-1 mb-2"><span class="d-block fs-sm text-muted mb-1">The Sacred Grove</span><a class="nav-link fs-lg p-0">+91 8187009566</a></li>
                <li class="pb-1 mb-2"><span class="d-block fs-sm text-muted mb-1">ArogyaM</span><a class="nav-link fs-lg p-0">+91 8340932384</a></li>
              </ul>
            </div>
            
            <!-- Email-->
            <div class="col pb-2">
              <h4 class="mb-lg-4">Email</h4><a class="emailLink nav-link fs-lg p-0" href="mailto:wellnesscenter@satsang-foundation.org">wellnesscenter@satsang-foundation.org</a>
            </div>
          </div>
    </div>
    <%= render 'form' %>
    <div>
    <div class="gettingThere" >
      <h3 class="howToget">How to Get Here</h3>
      <p class="fs-lg fw-medium pb-3 mb-3"><strong>By air</strong>: The closest airport is Tirupati which is about 3 hours away by road. The closest major airport is Bangalore which is about 3.5 hours away by road.
      <p class="fs-lg fw-medium pb-3 mb-3"><strong>By train</strong>: The closest major train station is Katpadi Junction which is about 2 and a half hours by road. 
      <p class="fs-lg fw-medium pb-3 mb-3"><strong>By road</strong>: Bangalore is about 4 hours by road. 
    </div>

    <div class="mapContainer">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3880.3742993718315!2d78.66611681549195!3d13.451009390542644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bb287b7d9b8337f%3A0x20fc3cb6e2c3ae10!2sThe%20Sacred%20Grove%20-%20Centre%20for%20Exploring%20Consciousness!5e0!3m2!1sen!2sin!4v1674189373654!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    
</section>


