<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">

<div class="galleryIndex">
  <h1 class="cardHeading packages text-center">Gallery</h1>
  
  <div class="galleryImages">
  <% if @images.any? %>
    <% @images.each do |image| %>
          <div class="GalleryImageContainer">

    <%= image_tag(rails_public_blob_url(image), data: {fancybox: 'imageGallery' }, alt: 'gallery-image') %>
    </div>
    <% if current_user_admin? %>
        <%= link_to "Delete image", destroy_gallery_path(@gallery, param2: "#{image.id}"), class: "deleteImage btn btn-danger btn-sm", data: {turbo_method: :delete, turbo_confirm: "Are you sure?" } %> 
      <% end %>
    <% end %>
    
  <% else %>
    <%= image_tag(dev_image('flowers.jpg'), width: 800, data: {fancybox: 'imageGallery' }, alt: 'flowers-placeholder') %>
  <% end %>
  
  </div>
  

</div>
</section>

