  <section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">

  batches
  <% @batches.each do |batch|%>
    
    <li><%= link_to batch.name, batch_path(batch) %></li>
    <li><%= batch.start_date%></li>
    <li><%= batch.end_date %></li>
    
    <%= button_to "Register", registrations_path(batch_id: batch.id), class: "btn btn-primary", turbo_method: :post, data: {turbo: false}  %>
    
  <% end %>

  



</section>