<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">
  
  
  <h3><%= batch_date_range(@batch) %></h3>
  <h3>Batch Participants: </h3>

  <table>
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Email</th>
                <!-- Add other column headers here -->
            </tr>
        </thead>
        <tbody>
            <% @students.each do |student| %>
                <tr>
                    <td><%= user_full_name(student) %></td>
                    <td><%= student.email %></td>

                    <!-- Add other columns here -->
                </tr>
            <% end %>
        </tbody>
    </table>

    <%= link_to 'Download PDF', batch_pdf_path(@batch.id), class: 'mt-5 btn btn-outline-primary rounded-pill'%>

</section>