<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">
  
  Batch name: <%= @batch.name %>
  
  
  <h5>Students: </h5>
  <% @students.each do |student|%>
    <li>First name: <%= student.first_name %>
    <li>Email: <%= student.email %></li>
  <% end %>

</section>