    
<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">
    <h1 class="cardHeading packages text-center">About</h1>
    <div class="aboutContainer">
    <div class="aboutText">  
      The seed of the wellness center, ArogyaM, 
      was planted at The Sacred Grove by Sri M in 
      June of 2019, and became fully operational on July 3rd, 2022. 
      Its purpose is to offer individuals a space to explore and experience
       health and well-being through the practice and study of the ancient 
       traditions of Yoga and Ayurveda. ArogyaM follows the belief that everyone 
       is in pursuit of happiness, and that a healthy body and calm mind 
       are the prerequisites to fulfilling this pursuit, both in daily life 
       and in spiritual practices.
      Today's fast-paced lives, filled with processed foods and pollution, 
      can cause a buildup of toxins in the body and an overload of sensory 
      input for the mind, leading to various diseases and stress. 
      It is important to periodically disconnect from these demands
       and recharge through Yogic and Ayurvedic practices surrounded 
       by nature. <br>
       <br>ArogyaM is located in The Sacred Grove, a three-hour drive 
       from Bangalore, surrounded by rolling hills and offering a peaceful, 
       serene environment for reflection and self-discovery.
        At ArogyaM, the traditional approach recognizes that every individual 
        is unique and therefore requires personalized treatments. In addition to 
        offering programs for detoxification, stress relief, weight management, and 
        women's wellness, ArogyaM also provides custom treatment programs tailored to 
        meet the specific health needs of each guest.

    </div>
    
  </div>
  <div class="aboutImage">
      <%= image_tag("https://d1w11gv0j27jrz.cloudfront.net/landscape-about.jpg", data: {fancybox: 'imageGallery' })%>
  </div>
  
</section>