<h1>Contact</h1>


  <section class="container pt-5 pb-lg-2 pb-xl-4 py-xxl-5 my-5">
  <h1 class="display-2 pb-2 mb-sm-4 mb-lg-5">Contacts</h1>
    <div class="border-top pb-sm-3 pt-4">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 pt-2">
            <!-- Address-->
            <div class="col pb-2">
              <h4 class="mb-lg-4">Address</h4>
              <p class="fs-lg fw-medium pb-3 mb-3">ArogyaM, The Sacred Grove, Chowdepalli, A.P. <br> 517257</p><a class="btn btn-primary" href="#"><i class="ai-map-pin me-1"></i>Get directions</a>
            </div>
            <!-- Phone-->
            <div class="col pb-2">
              <h4 class="mb-lg-4">Phone</h4>
              <ul class="list-unstyled mb-0">
                <li class="pb-1 mb-2"><span class="d-block fs-sm text-muted mb-1">Main office</span><a class="nav-link fs-lg p-0" href="tel:+178632256033">+1 (786) 322 560 33</a></li>
                <li class="pb-1 mb-2"><span class="d-block fs-sm text-muted mb-1">Reception room</span><a class="nav-link fs-lg p-0" href="tel:+178630056044">+1 (786) 300 560 44</a></li>
                <li><span class="d-block fs-sm text-muted mb-1">Franchise</span><a class="nav-link fs-lg p-0" href="tel:+178630050055">+1 (786) 300 500 55</a></li>
              </ul>
            </div>
            
            <!-- Email-->
            <div class="col pb-2">
              <h4 class="mb-lg-4">Email</h4><a class="nav-link fs-lg p-0" href="mailto:email@example.com">email@example.com</a>
            </div>
          </div>
    </div>
  </section>
