// 
// user.scss
// Use this to write your custom SCSS
//

.nav-link:hover {
  color: $terracota !important;
}

.bg-success {
  --ar-bg-opacity: 1;
  background-color: #e78774 !important;
}

.bg-footer {
  background-color: $secondary;
}

#playButton {
  position: relative;
  background-color: #FFF36D;
  border: none;
}




#playbuttontext {
  color: white;
}


.d-block {

  font-family: 'Noto Serif', serif;
  color: white;
}

.nav-item {
  font-size: 13pt;
}

@media (max-width: 409px) {
  .display-1 {
    font-size: 5rem;
  }
}

#navbarBrand {
  margin-top: 10px;

}


@media (max-width: 992px) {
  #navbarBrand {
    display: none;
  }
}



@media (max-width: 455px) {
  .d-block {
    position: relative;
    top: 100px;
    color: black;

  }


}

@media (max-width: 602px) {
  #playButton {
    position: relative;
    top: 70px
  }

  #playbuttontext {
    position: relative;
    top: 70px
  }
}

@media (max-width: 455px) {
  #playButton {
    position: relative;
    top: 100px;


  }

  #playbuttontext {
    position: relative;
    top: 100px;
    color: white !important;
    font-family: 'Noto Serif', serif;

  }

  .display-1 {
    color: white;
  }


}

@media (max-width: 602px) {
  #playbuttontext {
    color: black;
  }
}

.btn-outline-primary:hover {
  border-color: #448c74;
  color: white !important;
}



.background {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 50px;
}

@media (min-width: 1500px) {
  .belowimage {
    position: relative;
    top: 200px;
  }
}

.btn-outline-primary {
  --ar-btn-color: #448c74;
  --ar-btn-border-color: #448c74;
  --ar-btn-hover-color: #000;
  --ar-btn-hover-bg: #448c74;
  --ar-btn-hover-border-color: none !important;
  --ar-btn-focus-shadow-rgb: 68, 140, 116;
  --ar-btn-active-color: #000;
  --ar-btn-active-bg: #448c74;
  --ar-btn-active-border-color: #448c74;
  --ar-btn-active-shadow: unset;
  --ar-btn-disabled-color: #448c74;
  --ar-btn-disabled-bg: transparent;
  --ar-btn-disabled-border-color: #448c74;
  --ar-gradient: none;
}


.card-hover-secondary:hover {
  background-color: $terracota !important;

}

.card-body:hover h4,
p {
  color: white;
}

.trix-content.hover {
  color: white
}

.form-control {
  display: block;
  width: 500px;
}

#package {
  color: black;
}

.admin {
  display: inline-flex;
}

.trix-content {
  color: black;
}



.card-footer:hover {
  color: white;
}

#package:hover {
  color: black !important;
}

#roundButton {
  color: black !important;
}

.fs-lg {
  color: black !important;
  font-family: 'Noto Serif', serif;
}

@media (max-width: 455px) {
  #playbuttontext {
    color: white;
  }


}



.logo {
  margin-top: 30;
  margin-bottom: 20px;
}



.packages {
  font-family: 'Noto Serif', serif;
}

#treelogo {
  margin-right: 7px;
}