// 
// user.scss
// Use this to write your custom SCSS
//

//gallery 
body {
  background-color: #F9F9FB;
}

#footer {
  display: none;
}

.footercontainer footer {
  background-color: #fbf5ec !important;
  width: 100% !important;
  margin-top: 30px;


}



@media only screen and (max-width: 767px) {
  .header .navbar-toggler {
    margin-right: 10px;
  }
}





.footerlogo {
  width: 100%;
  height: 50px;
  /* or any other desired height */
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;

}



.accoImage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}


.packageShow {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.package-image {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  margin-top: 40px;

}

.packageText {
  margin-top: 1em;
  width: 100%;
  font-size: 12pt;

}

.trix-content {
  color: $gray-800 !important;
}

@media (max-width: 768px) {
  .packageShow {
    width: 95%;
  }
}

@media only screen and (min-width: 900px) {
  .galleryImages img {
    padding-right: 10px;

  }

  .accoImage img {
    padding-right: 10px;

  }
}

@media only screen and (max-width: 900px) {
  .galleryImages {
    padding-right: 0 !important;
  }
}



.galleryImages img {
  padding-bottom: 10px;
  cursor: pointer;

}

.accoImage img {
  padding-bottom: 10px;
  cursor: pointer;

}







.dates {
  color: #FFAE42;
  text-align: center;
  margin-bottom: 30px;

}



.packageform {
  margin-top: 100px;
}

.galleryImages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

@media only screen and (max-width: 767px) {
  .galleryImages {
    width: 100%;
  }
}




.disclaimer {
  margin-top: 40px !important;
}

.howToget {
  font-family: 'Noto', serif !important;
  margin-top: 20px;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutText {

  font-family: 'Barlow', sans-serif !important;
}

.aboutImage {
  background-image: url("https://d1w11gv0j27jrz.cloudfront.net/landscape-about-2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 700px;

  margin-top: 40px;
}

@media (min-width: 768px) {
  .aboutText {
    width: 50%;
  }


  .video {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .aboutText {
    width: 90%;
  }



  .video {
    width: 90%;
  }
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

//gallery end ---------------------------------------------------------------------------------------

.flash {
  @extend .alert;
  text-align: center;
  margin-top: -1rem;
  margin-bottom: 2rem;

  &.notice {
    @extend .alert-success;
  }

  &.alert {
    @extend .alert-danger;
  }

  top: 120px;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.video {
  width: 80%;
  margin-top: 70px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(84, 83, 83, 0.4);
}

.mapContainer {
  border: solid #cb6843;
}


.cover {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;

}

.cover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background-color: rgba(255, 255, 255, 0.1);
  /* Change the last value to adjust the opacity */
}




@media (max-width: 1024px) {
  .newlogo img {
    width: 99%;
  }


}




.hometextContainer {
  display: flex;
  justify-content: center;
  padding: 50px 30px;
  width: 100%;
  background-color: #fdf9f3;
}

.explorebutton {
  margin-top: 20px;
  width: fit-content;
}

@media (max-width: 767px) {
  .explorebutton {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }
}


.bookButton {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px !important;
  width: fit-content !important;
  margin: 40px auto 40px;

}

.whyArogyam {
  margin-right: 20px;
  font-family: 'Nanum Myeongjo', serif;
  color: $gray-800 !important;
}

@media (max-width: 767px) {
  .whyArogyam {
    margin-right: 0;
    text-align: center;
  }

  .hometextContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 991px) {
  .whyArogyam {
    margin-right: 0;
    text-align: center;
  }

  .hometextContainer {
    flex-direction: column;
    align-items: center;
  }
}

.nav-link:hover {
  color: $terracota !important;
}

#back_to {
  color: $gray-700;
  border: none;
  font-size: 30px;
  margin-left: 5px;
}


.packageBackToButton {
  width: fit-content;
}



.bg-success {
  --ar-bg-opacity: 1;
  background-color: #e78774 !important;
}

.bg-footer {
  background-color: $secondary;
}


.roundedimages {
  margin: 10px;
  border-radius: 10px;
}




.nav-item {
  font-size: 13pt;
}


@media (max-width: 409px) {

  #navbarBrand {
    margin-top: 10px;

  }
}

@media (max-width: 992px) {
  #navbarBrand {
    display: none;
  }
}

a {
  text-decoration: none !important;
}






.btn-outline-primary:hover {
  border-color: #448c74;
  color: white !important;

}


.belowimage {
  position: relative;
  margin-top: auto;
}



.home_text {
  position: relative;
  margin-top: auto;
  top: 40%;
}

.btn-outline-primary {
  --ar-btn-color: #207a48;
  --ar-btn-border-color: #207a48;
  --ar-btn-hover-color: #000;
  --ar-btn-hover-bg: #448c74;
  --ar-btn-hover-border-color: none !important;
  --ar-btn-focus-shadow-rgb: 68, 140, 116;
  --ar-btn-active-color: #000;
  --ar-btn-active-bg: #448c74;
  --ar-btn-active-border-color: #448c74;
  --ar-btn-active-shadow: unset;
  --ar-btn-disabled-color: #448c74;
  --ar-btn-disabled-bg: transparent;
  --ar-btn-disabled-border-color: #448c74;
  --ar-gradient: none;
}


#cardTitle {
  color: white;
  font-family: 'Nanum Myeongjo', serif !important;
  font-size: 16pt;

}

#card-short {
  color: white !important;
  font-family: 'Barlow', sans-serif;
}

#roundButton {
  color: white !important;

}

.rounded-circle {

  border-color: white !important;
}

.text-muted {
  color: #2F3E46 !important;
}


.card-hover-secondary:hover {
  background-color: $gray-700 !important;

}

.card-body:hover h4,
p {
  color: white;
}

.trix-content.hover {
  color: white
}


#package {
  font-family: 'Barlow', sans-serif !important;
  color: black;
}



.package-titles {
  color: black;
  font-family: 'Nanum Myeongjo', serif !important;
  margin-top: 10px;
  margin-bottom: 10px;


}

.admin {
  display: inline-flex;
  margin-bottom: 30px;
  margin-top: 30px;
}

.trix-content {
  color: black;
}

.cardHeading {
  font-family: 'Nanum Myeongjo', serif !important;
  color: $gray-800;
  margin-top: 50px;
  margin-bottom: 70px;
}



.card-footer:hover {
  color: white;
}

#package:hover {
  color: black !important;
}



.fs-lg {
  color: $gray-700 !important;
  font-family: 'Barlow', sans-serif;
  font-size: 12pt !important;
  max-width: 500px;
  bottom: 100px !important;


}

.logo {
  margin-top: 30;
  margin-bottom: 20px;
}



h4 {
  font-family: 'Barlow', sans-serif;
  font-size: 13pt;
}





#treelogo {
  display: inline !important;
  margin-right: 7px;
  margin-left: 10px !important;

}



.emailLink {
  color: $terracota !important;
}

.card {
  background-color: #555555 !important;


}



#roundButton {
  margin-bottom: 20px !important;
}

.deleteImage {
  margin: 20px;
}

#packageName {
  margin-top: 1em !important;
  font-family: 'Nanum Myeongjo', serif;
  margin-bottom: 0 !important;

}

#packageTagline {
  margin-top: 5px;
  margin-bottom: 2em;
  text-align: center !important;
}


.packageDuration,
.packageCost {
  display: inline-block;
  font-family: 'Barlow', sans-serif;
  color: $gray-700;
}

.packageCost {
  border-left: 1px solid $gray-600;
  padding-left: 20px;
  padding-right: 20px;
}

.packageDuration {
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 399px) {
  .packageCost {
    padding-left: 10px;
    padding-right: 10px;
  }

  .packageDuration {
    padding-left: 10px;
    padding-right: 10px;
  }
}


.durationCostContainer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 1em;
  border-radius: 30px;
  background-color: $gray-200;
  color: $gray-600;
  box-shadow: 2px 2px 10px rgba(84, 83, 83, 0.4);
  /* Here, 0 is the horizontal offset, 2px is the vertical offset, 4px is the blur radius, and rgba(0, 0, 0, 0.4) is the color and opacity of the shadow */

}


.contactform {
  margin-top: 4em;



}

.fullLogo {
  border-radius: 0 !important;
}

.teamMemberContent {
  color: black;
  margin-top: 20px;
}


.contactInfo {
  background-color: $gray-200;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 20px;
  box-shadow: 2px 2px 10px rgba(84, 83, 83, 0.4);
}



@media (min-width: 768px) {
  .form-control {
    width: 40%;
  }
}

.form-control {
  width: 100%;
  box-shadow: 2px 2px 10px rgba(151, 150, 150, 0.4);
  /* set width to 90% for mobile and tablet screens */
}


.enquiryForm {
  font-family: 'Noto', serif !important;
}

.gettingThere {
  margin-top: 100px;
}

.navbarBookButton {
  background-color: white;
  border: gray 1px solid;
  color: $gray-700;
  margin-left: 20px;
}

@media only screen and (max-width: 991px) {
  .navbarBookButton {
    margin-left: 0;
    margin-top: 20px;
  }
}

.navbarBookButton:hover {
  background-color: gray !important;
}

.bookProgButton {
  background-color: white;
  border: none;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 10px;
  color: $gray-700;
  box-shadow: 2px 2px 10px rgba(84, 83, 83, 0.4);

}

.bookProgButton:hover {
  background-color: #F9F9FB !important;
}

@media only screen and (min-width: 768px) {
  .bookProgButton {
    width: fit-content;
    margin: 20px;

    /* set width to 40% for desktop screens */
  }
}

.bookProgButton:hover {
  background-color: gray !important;
}

@media (min-width: 768px) and (max-width: 991px) {

  /* Show the mobile-footer on screens between 768px and 991px wide (i.e. tablets) */
  .mobile-footer {
    display: block !important;
  }
}

@media (min-width: 992px) {

  /* Hide the mobile-footer on screens wider than 991px (i.e. desktops and laptops) */
  .mobile-footer {
    display: none !important;
  }
}


/* Style the mobile-footer */
.mobile-footer {
  background-color: #8f9779;
  opacity: .92;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  cursor: pointer;
  height: 60px;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}

#footerBook {
  margin-bottom: 0 !important;
  color: white !important;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  text-align: center;
  letter-spacing: 1.25px;

}

.orangeButton {
  border: none;
  color: $terracota;
  padding: 10px 20px !important;
  box-shadow: 2px 2px 10px rgba(84, 83, 83, 0.4);
}



.orangeButton:hover {
  background-color: $terracota !important;
}

.errors {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 12px;
  margin-bottom: 12px;
}

.errors h2 {
  font-size: 24px;
  margin-top: 0;
}

.errors h3 {
  font-size: 18px;
  margin-top: 12px;
}

.errors ul {
  margin: 12px 0;
  padding-left: 24px;
}

.errors li {
  margin-bottom: 6px;
}

.no-border-radius {
  border-radius: 0 !important;
}

.d-lg-none li::marker {
  display: none !important;

}

.centerlogo {
  margin-top: 15px;
  margin-bottom: 10px;

}

.centerLogoCont {
  padding-left: 15px;
  padding-top: 5px;
}

@media only screen and (min-width: 991.98px) {
  .centerlogo {
    display: none;
  }
}

.newlogo {
  color: white !important;
  font-family: 'Noto', serif !important;
  font-size: 25pt;
  position: relative;
  z-index: 2;
  padding: 2rem 2rem 2rem;
  text-align: center;
  top: 35%;
  line-height: 1.2;

}

.landingpagetext {
  font-size: 10pt;
  text-align: center;
  margin-top: 10px;
  margin-left: 15px;
  font-family: 'Barlow', sans-serif;
}

.ayurvedicWellness {
  font-size: 10pt;
  text-align: center;
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 10px;
  font-family: 'Barlow', sans-serif;
}

.landingBookButton {
  border: none;
  background-color: #555555;
  color: $gray-200;
  font-family: 'Barlow', sans-serif;
  margin-top: 20px;
  box-shadow: 2px 2px 10px rgba(84, 83, 83, 0.4);
}

#phoneIcon {
  font-size: 20px !important;

}

@media only screen and (min-width: 991.98px) {
  #phoneIcon {
    margin-left: 10px;
  }
}

.packageIndex {
  display: flex;
  align-items: center;
  background-color: #6BA292;
  box-shadow: 4px 4px 5px rgba(84, 83, 83, 0.4);
  padding-left: 30px;
  height: 123px;
  border-radius: 20px;
}

#roundButton {
  margin-left: auto;
  margin-right: 10px;
}

@media (max-width: 576px) {
  .row-cols-1 .col {
    width: 100% !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}


@media (max-width: 990px) {
  header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}

#signinCard {
  background-color: #8f9779 !important;
}

header {
  opacity: .95 !important;
}

.packageIndex:active {
  background-color: #555555;
}

.packageIndex:hover {
  background-color: #87a59c;
}

.teamButton {
  margin-top: 20px;
}

.contactform .form-control {
  width: 100%;
  /* default to 100% */
}

/* For tablet devices with screen width up to 990px */
@media (max-width: 990px) {
  .contactform .form-control {
    width: 100%;
    /* take up 100% of screen width */
  }
}

/* For desktop devices with screen width greater than 990px */
@media (min-width: 991px) {
  .contactform .form-control {
    width: 40%;
    /* take up 40% of screen width */
  }
}

.PackImage {
  border-radius: 20px !important;
  box-shadow: 2px 2px 10px rgba(84, 83, 83, 0.4);
}

.TestimoText {
  font-family: 'Barlow', sans-serif;
  width: 80%;
  margin: auto;
}

.footerCopyright {
  margin-bottom: 0;
  padding-top: 10px;

}

.satsangFoundation {

  padding-bottom: 10px;

}