    
<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">
    <h1 class="cardHeading packages text-center">Accommodation</h1>
    <div class="aboutContainer">
      <div class="aboutText">  
        ArogyaM has two wings separated by a central courtyard where Dhanwantri, 
        the deity of the wellness center, is enshrined under a 40-year-old tamarind tree. 
        The guest rooms are beautifully designed and tastefully furnished for single, 
        double, and triple occupancy. 
        The nine rooms in the guest wing are named after various herbs such as <i>dhatri</i>, <i>japa</i>, <i>abhaya</i>, <i>aparajitha</i>, and so on. 
        <br>
        <br>
        <strong>Guidelines:</strong>
        <br>
        <br>
        In order to benefit most out of the therapies, it is essential that certain Yamas &amp; Niyamas (Rules
        &amp; Regulations) are observed by all the participants:
        <ul>
          <li>The Sacred Grove campus is a non-smoking and non-intoxicant zone. Smoking, drinking, or consuming any intoxicants is strictly prohibited.</li>
          <li>Follow the physician's advised dos and don'ts strictly.</li>
          <li>Respect the peaceful atmosphere by avoiding loud music or disruptive group activities.</li>
          <li>Do not pluck any flowers, fruits, or leaves from the orchards and gardens.</li>
          <li>Vegetarian meals are served, and individual cooking or bringing outside food is not allowed.</li>
          <li>Be eco-conscious and use plastics sparingly. If necessary, dispose of plastic waste in designated bins.</li>
          <li>Dress appropriately to be in harmony with the spirit of the place.</li>
          <li>Follow the program schedule and its timings for treatments and activities.</li>
          <li>Keep rooms and surroundings clean at all times. The housekeeping staff will clean the rooms every other day from 9 AM to 11 AM.</li>
          <li>Dispose of waste in designated bins.</li>
          <li>We welcome your suggestions and feedback. Please email us at: 
          <strong><a class="emailLink nav-link fs-lg p-0" href="mailto:wellnesscenter@satsang-foundation.org">wellnesscenter@satsang-foundation.org</a></strong><br></li>
        </ul>
    </div>
    
</section>
<div class="accoImage">
        <%= image_tag("https://d1w11gv0j27jrz.cloudfront.net/acco-1.jpeg",  data: {fancybox: 'imageGallery' }) %>
        <%= image_tag("https://d1w11gv0j27jrz.cloudfront.net/acco-2.jpeg", data: {fancybox: 'imageGallery' }) %>
        <%= image_tag("https://d1w11gv0j27jrz.cloudfront.net/acco-4.jpg", data: {fancybox: 'imageGallery' }) %>
        <%= image_tag("https://d1w11gv0j27jrz.cloudfront.net/acco-3.jpg",  data: {fancybox: 'imageGallery' }) %>
</div>