    
<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">
    <h1 class="cardHeading packages text-center">Accommodation</h1>
    <div class="aboutContainer">
      <div class="aboutText">  
        There are two wings at ArogyaM, 
        seperated by a central courtyard where Dhanwantri, 
        the reigning deity of the wellness center is enshrined under the canopy of a forty year old tamarind tree. 
        The guest rooms at ArogyaM are aesthetically designed and tastefully furnished to host guests on single, double and triple occupancy basis. 
        The nine guest rooms in the guest wing are named after various herbs like <i>dhatri</i>, <i>japa</i>, <i>abhaya</i>, <i>aparajitha</i>, and so on.
        <br>
        <br>
        <strong>Guidelines:</strong>
        <br>
        <br>
        In order to benefit most out of the therapies, it is essential that certain Yamas &amp; Niyamas (Rules
        &amp; Regulations) are observed by all the participants:
        <ul>
          <li> The entire Sacred Grove campus is a non-smoking and non-intoxicant zone. Smoking,
          drinking or consuming intoxicants of any kind is strictly prohibited.
          <li>Please strictly adhere to the dos and don’ts as advised by the physician.
          <li>Please respect the quiet and silence of the place by refraining from loud music or
          disruptive group activities.
          <li>The orchards and gardens are being nurtured with a lot of effort. Please do not pluck
          any flowers, fruits or leaves.
          <li>Vegetarian meals are prepared and served within The Sacred Grove. Individual cooking
          or bringing outside food is not permissible.
          <li>This campus being an eco-conscious space, please use plastics sparingly. If unavoidable,
          please ensure that the plastic wastes are disposed in the designated bins.
          <li>In order to be in harmony with the spirit of the place, you are requested to dress
          suitably.
          <li>The program schedule is a well thought out plan. Please ensure that you abide by the
          timings for the treatment and other activities.
          <li>Please ensure that your rooms and surroundings are kept clean at all times.
          <li>The housekeeping staff will come for cleaning the room every alternate day, from 9 AM
          to 11 AM.
          <li>Please dispose your waste in designated bins.
          <li>We welcome your suggestions and feedback through
          <strong>wellnesscenter@satsang-foundation.org.</strong><br>
        </ul>
    </div>
    
</section>
<div class="accoImage">
        <%= image_tag("https://d1w11gv0j27jrz.cloudfront.net/acco-1.jpeg",  data: {fancybox: 'imageGallery' }) %>
        <%= image_tag("https://d1w11gv0j27jrz.cloudfront.net/acco-2.jpeg", data: {fancybox: 'imageGallery' }) %>
        <%= image_tag("https://d1w11gv0j27jrz.cloudfront.net/acco-4.jpg", data: {fancybox: 'imageGallery' }) %>
        <%= image_tag("https://d1w11gv0j27jrz.cloudfront.net/acco-3.jpg",  data: {fancybox: 'imageGallery' }) %>
</div>