    
<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">
    <h1 class="cardHeading packages text-center">Accommodation</h1>
    <div class="aboutContainer">
      <div class="aboutText">  
        The seed of the wellness center, ArogyaM was planted at The Sacred Grove by Sri M in 
        June 2019.
        It became functional on July 3rd 2022, as a space for exploring and experiencing
        health and well-being through the practice and study of the ancient traditions of Yoga and
        Ayurveda.
        As Sri M often says, we are all in pursuit of happiness. Our immediate translation of this happiness  is the ease of body and mind. A healthy body free from disease and a calm mind are prerequisites for us to function well in the temporal world, and also to seek higher dimensions through 
        spiritual practices. Even for those doing spiritual practices, there is the need to purify the body to align and equip it for the changes that are taking place within.
        Today, we lead very busy lives unmindful of the stress that it causes us. The processed foods 
        we consume and the pollutants we breathe in are silent killers. Toxin accumulation leads to 
        many diseases. Even our minds are on a toxin overload in the form of 
        various sensorial inputs. So it is a necessity that we disconnect from our stressful schedules 
        once in a while and recharge ourselves through Yogic and Ayurvedic practices amidst nature.
        ArogyaM is a three hour drive from Bangalore, nestled in The Sacred Grove, situated in Chowdepalle. The Sacred Grove is a little haven of greenery with open blue skies and is surrounded by hills. It is a perfect space to pause, reflect and reconnect with one's inner self. At ArogyaM
        we follow the traditional approach where every individual is unique and hence their treatments are individualistic. Therefore, in addition to offering programs for detoxification, destressing, weight management and women's wellness, we also offer customised treatment programs to suit the health profiles of our care seekers.
        <br>
        <br>
        <strong>[House Rules here]</strong>
      </div>
      
    </div>
    
</section>
<div class="accoImage">
        <%= image_tag("acco-1.jpeg", width: 800, data: {fancybox: 'imageGallery' }) %>
        <%= image_tag("acco-2.jpeg", width: 800, data: {fancybox: 'imageGallery' }) %>
        <%= image_tag("acco-3.jpeg", width: 800, data: {fancybox: 'imageGallery' }) %>
    </div>