<section class="container py-5 mt-5 mb-md-3 mb-lg-4 mb-xxl-5">
  <h1 class="cardHeading packages text-center">Testimonials</h1>
  <div class="TestimoText text-center">  
        A few words from patients who underwent our health programmes. 
  </div>
  <% @testimonials.each do |testimonial| %>
    <div class="videoContainer">
      <iframe src='https://www.youtube.com/embed/<%= testimonial.youtube_id %>?rel=0&autoplay=' frameborder='0' height="500" width="500" allowfullscreen class="video"></iframe>
    </div>
  <% end %>
</section>



