
<% @testimonials.each do |testimonial| %>
  <div class="youtube-container">
    <iframe src='https://www.youtube.com/embed/<%= testimonial.youtube_id %>?rel=0&autoplay=' frameborder='0' height="500" width="500" allowfullscreen class="video"></iframe>
  </div>
<% end %>

