 <footer class="footer bg-footer py-5">
      <div class="container pt-1 pt-sm-2 pt-md-3 pt-lg-4 pt-xl-5">
        <div class="border-bottom text-center pb-4"><a class="navbar-brand d-inline-flex text-nav py-0 mb-3 mb-md-4" href="index.html"><span class="text-primary flex-shrink-0 me-2">
               <%= logo %></span><span>ArogyaM</span></a>
          <ul class="nav justify-content-center py-1 pb-sm-2">
            <li class="nav-item"><a class="nav-link py-2 px-3 mx-1" href="#">Packages</a></li>
            <li class="nav-item"><a class="nav-link py-2 px-3 mx-1" href="#">The Sacred Grove</a></li>
            <li class="nav-item"><a class="nav-link py-2 px-3 mx-1" href="#">Blog</a></li>
            <li class="nav-item"><a class="nav-link py-2 px-3 mx-1" href="#">Contact</a></li>
            <li class="nav-item"><a class="nav-link py-2 px-3 mx-1" href="#">About</a></li>
          </ul>
        </div>
      </div>
    </footer>